*{
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
}

#container{
    box-sizing: border-box;
    height: 600px;
    width: 100%;
    /* border: 1px solid saddlebrown; */
    border-radius:0px 0px 30% 30%;
    
    background: linear-gradient(to top,#ebecec,#ffffff);
}
#maincontent{
    display: flex;
}
#container>div>div{
    box-sizing: border-box;
    width: 50%;
    padding-top: 30px;
}

#content{
 
 padding-left:8% ;
}
#content>h2{
    font-size: 40px;
    color: #333c43;
    
}
.bigp{
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    color: #475056;
}
#content>input{
    font-size: 17px;
    color: #475056;
    width: 45%;
    padding: 10px 0px 10px 10px; 
}
#content>button{
    width: 40%;
    padding: 10px 0px 10px 10px; 
    font-size: 19px;
    color: aliceblue;
    background-color: #4ea819;
    border: none;
    font-weight: bolder;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.smallp{
    font-size: 15px;
    line-height: 7px;
    color: #475056;
}
.smallp>a{
    color: #333c43;
    font-weight: bold;
}
#promo{
    padding-left: 10px;
}
#logos{
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
#container2{
    box-sizing: border-box;
    margin-top: 50px;
    width: 100%;
    display: flex;
}
#description{
   /* border: 1px solid saddlebrown; */
    width: 70%;
    padding: 0px 8%;
}
#img{
    width: 30%;
    padding: 20px;
}

#subdescrip{
    width: 100%;
    display: grid;
    /* gap: 20px; */
    /* border: 1px solid saddlebrown; */
    grid-template-columns: repeat(2,40%);
    grid-template-rows: repeat(2,auto);
}
#subdescrip>div{
    margin-left: 20px;
}
#subdescrip>div>p{
    color: #475056;
    font-size: 15px;
    
}


#universal{
 width: 100%;
 margin-top: 50px;
}
#universal>img{
    width: 100%;
}

#lastpart{
    margin-top: 30px;
}

#dropdown{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 50px 0px;
    /* border: 1px solid saddlebrown; */
}
#dropmenu{
    height: auto;
    width: 60%;
    /* border: 1px solid saddlebrown; */
    margin: auto;
    margin-top: 50px;
}
#dropdown>h1{
    width: 50%;
    text-align: center;
    margin: auto;
    color: #333c43;
}
#dropmenu>div{
    border: 2px solid #d6d8d9;
    margin-top: 20px;
    
    border-radius: 5px;
    padding-left: 20px;
}
#dropmenu>div>p:last-child{
    display: none;
    color: #475056;
}
#dropmenu>div>p:first-child{
    font-size: 18px;
    color: #333c43;
}

#univ1,#univ2,#univ3,#univ4{

    
    margin: auto;
    margin-top: 10px;
}
#univ1{
    width: 70%;
}
#univ2{
    width: 60%;
}
#univ3{
    width: 65%;
}
#univ4{
    width: 30%;
}
#univ1>button,#univ2>button,#univ3>button,#univ4>button{
    padding: 10px 10px;
    font-size: 17px;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    background-color: #ebecec;
    color: #475056;
    font-weight: bold;
}
#universal>div>button:hover{
 background-color: #6f777a;
}
#green{
    height: 400px;
    width: 100%;
    background-color: #4ea819;
    padding: 60px 0px;
}
#green>h1{
    color: aliceblue;
    width: 43%;
    text-align: center;
    margin: auto;
}
#green>div{
    
    width: 40%;
    
    height: auto;
    margin: auto;
    margin-top: 40px;
}
#green>div>input{
    width: 50%;
    padding: 10px 5px;
    font-size: 15px;
    height: auto;
}
#green>div>button{
    width: 40%;
    padding: 8px 0px;
    font-size: 17px;
    color: aliceblue;
    background-color: #4ea819;
    border: 2px solid aliceblue;
}
#green>p{
    color: aliceblue;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}